node_modules
.venv
__pycache__
simple-todo-mern-stack-app-master
CONVERTED_FOLDER
migrations
UPLOADS
LOGS
# Ignore SQLite database file
db.sqlite3

# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore environment files
.env